@import 'partials/variables.styl'
@import 'partials/mixins.styl'

.skin-alague
  .sidebar-toggle
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    
  .content-header > .breadcrumb 
    > li + li::before
      content '/'
    > li.active
      font-weight bold
    
  .box
    box-shadow 0px 0px 10px 0px rgba(0,0,0,.10)

  navbar-variant(white, $fg-color, 5%)
  navbar-shadow(0px 0px 15px rgba(0,0,0,.25))
  
  sidebar-variant(white, $fg-color)
  sidebar-nav-rounded(white, $fg-color, darken(white, 5%), $fg-color)
  sidebar-shadow(0px 0px 15px rgba(0,0,0,.15))

  .content-wrapper, .right-side
    background-color darken(white, 5%)

  // Options
  &.navbar-blue
    navbar-variant($blue, white)
    
  &.navbar-black
    navbar-variant($fg-color, white)
    
  &.sidebar-blue
    sidebar-variant($blue, white)
    
  &.sidebar-red
    sidebar-variant($red, white)
    
  &.sidebar-black
    sidebar-variant($fg-color, white)
