@import 'partials/variables.styl'
@import 'partials/mixins.styl'

.skin-alague
  .sidebar-toggle
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    
  .content-header > .breadcrumb 
    > li + li::before
      content '/'
    > li.active
      font-weight bold
    
  .box
    box-shadow 0px 0px 10px 0px rgba(0,0,0,.10)

  .btn
    &.btn-default
      button-variant(darken(white, 10%), $fg-color, 10%)
      
    &.btn-primary
      button-variant($blue, white)
      
    &.btn-info
      button-variant(lighten($blue, 15%), white)
      
    &.btn-success
      button-variant($green, white)
      
    &.btn-danger
      button-variant($red, white)
      
    &.btn-warning
      button-variant($orange, white)
      
    &.btn-rounded
      border-radius 100px
      
    &.btn-app, &.btn-social, &.btn-social-icon
      border none
      
    &.btn-social
      i
        padding-left 5px
        padding-right 5px
        width 40px
        
    &.btn-outline
      background-color white
      border-width 2px
      &:hover,
      &:active,
      &.active,
      &:focus
        background-color white
        
      button-outline-variant(#aaa, 10%)
      
      &.btn-primary
        button-outline-variant($blue, 15%)
        
      &.btn-info
        button-outline-variant(lighten($blue, 15%), 15%)
        
      &.btn-success
        button-outline-variant($green, 15%)
        
      &.btn-danger
        button-outline-variant($red, 15%)
        
      &.btn-warning
        button-outline-variant($orange, 15%)
        

  navbar-variant(white, $fg-color, 5%)
  navbar-shadow(0px 0px 15px rgba(0,0,0,.25))
  
  sidebar-variant(white, $fg-color)
  sidebar-nav-rounded(white, $fg-color, darken(white, 5%), $fg-color)
  sidebar-shadow(0px 0px 15px rgba(0,0,0,.15))

  .content-wrapper, .right-side
    background-color darken(white, 5%)

  // Options
  &.navbar-blue
    navbar-variant($blue, white)
    
  &.navbar-black
    navbar-variant($fg-color, white)
    
  &.sidebar-blue
    sidebar-variant($blue, white)
    
  &.sidebar-red
    sidebar-variant($red, white)
    
  &.sidebar-black
    sidebar-variant($fg-color, white)
